.board {
    position: relative;
    font: normal normal normal 24px/24px Helvetica Neue;
    color: #2EB738;
    opacity: 1;
    width: 118px;
    line-height: 33px;
    padding-bottom: 8px;
    
    

    

}