.App{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}

.head {
    width: 350px;
    height: 366px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
}

p {
   
    font: normal normal medium 56px/84px PingFang TC;
    letter-spacing: 0px;
    color: #2EB738;
    opacity: 1;
    text-align: center;
    padding-top: 0;
    margin:0;
    
}

.word {
    padding-top:100px;
    padding-bottom: 100px;
}

.mark {
    font: normal normal normal 24px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #2EB738;
    opacity: 1;
}

.line {
    height:2px;
    width:280px;
    display: inline-block;
    background-color: #2EB738;
    vertical-align:middle;
}

.empty {
    width: 21px;
    height:28px;
    display: inline-block;
    background-color: #F0F0F0;
}
